doc
docs
lib
build
coverage
dist
out
tmp
temp
.user
.git
.github
.user
.vscode
.vs
.idea
node_modules
.turbo
.parcel-cache
.yalc
*.bat
*.cmd
*.bak
*.tmp
temp.txt
package-lock.json
yarn.lock
*.map
*.tsbuildinfo
artifacts
