###############################################################################
# Development
###############################################################################

.vscode/**
.AI/**
.cline/**
.codex/**
.ollama/**
.user/**
docs/**
scripts/**

###############################################################################
# Build artifacts
###############################################################################

artifacts/**
dist/**
out/**
coverage/**
*.vsix

###############################################################################
# Dependencies
###############################################################################


###############################################################################
# Source control
###############################################################################

.git/**
.github/**
.gitignore
.gitattributes

###############################################################################
# Temporary / Backup
###############################################################################

Backup/**
Archive/**
Download/**
GithubIo/**
*.tmp
*.temp
*.bak
*.orig
tree.data

###############################################################################
# Editor files
###############################################################################

*.code-workspace
Thumbs.db
Desktop.ini

###############################################################################
# Logs
###############################################################################

*.log